
@{
    ViewBag.Title = "Index";
}

<h2 class="text-info">Current available books</h2>
<br/>
<div class="table-responsive">
    <table id="booksTable" class="table table-bordered table-hover">
  
    </table>

</div>