
@{
    ViewBag.Title = "Index";
}

<h2 class="text-info">Current available books</h2>
<br/>
<div id="myModal" class="reveal-modal">
   
    <p>This is a default modal in all its glory, but any of the styles here can easily be changed in the CSS.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div class="table-responsive">
    <table id="booksTable" class="table table-bordered table-hover">
  
    </table>
   
</div>