
@{
    ViewBag.Title = "Index";
}

<h2>Current available books</h2>
<div class="table-responsive">
    <table id="booksTable" class="table table-bordered">
        <tr>
            <td><b>#</b></td>
            <td><b>Author</b></td>
            <td><b>Category</b></td>
            <td><b>Book Name</b></td>
            <td><b>Books left</b></td>
            <td><b>Number of pages</b></td>
    </table>
</div>